// Colors
$text-color: #7c8592;
$date-color: #acb0b8;
$heading-color: #323740;
$bg-light: #f6f6f6;
$bg-dark: #121417;
$border-color: #e8ebee;
$main-color: #2a83e8;
$violet-color: #8455de;


// Fonts
$body-font: 'Lato', sans-serif;
$heading-font: 'Poppins', sans-serif;
$alt-font: 'Lora', serif;